#overviewComponent {
    -fx-padding: 20px;
    -fx-background-radius: 10px;
    -fx-background-color: #e3ebf3;
    -fx-border-color: #283342;
    -fx-pref-width: 500px; /* Adjust as needed */
    -fx-pref-height: 300px; /* Adjust as needed */
    -fx-effect: dropshadow(three-pass-box, black, 5, 0, 5, 5); /* Adjust as needed */
}