#overviewComponent {
    /* Replace with your desired styles */
    padding: 20px;
    border-radius: 10px;
    background: #3700b3;
    border-bottom-color: #283342;
    width: 500px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    box-shadow: 5px 5px 5px #000; /* Adjust as needed */
}