.table-view {
    -fx-background-color: #f4f4f4;
    -fx-padding: 10px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
}

.table-view .column-header {
    -fx-background-color: #e0e0e0;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.table-view .table-row-cell {
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1px 0;
}

.table-view .table-cell {
    -fx-padding: 5px;
    -fx-font-size: 13px;
}

/* Style the search box */
#searchBar {
    -fx-background-color: #e3ebf3;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-max-width: 300px;
    -fx-border-radius: 10;

}

/* Style the pagination control */
.pagination {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

.pagination .bullet {
    -fx-background-color: #e0e0e0;
    -fx-max-width: 10px;
}

.pagination .bullet:selected {
    -fx-background-color: #a0a0a0;
}