/* purchase-history.css */

.table-view {
    -fx-background-color: #f4f4f4;
    -fx-padding: 10px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
}

.table-view .column-header {
    -fx-background-color: #e0e0e0;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.table-view .table-row-cell {
    -fx-border-color: #e0e0e0;
    -fx-border-width: 0 0 1px 0;
}

.table-view .table-cell {
    -fx-padding: 5px;
    -fx-font-size: 13px;
}

/* Style the search box */
#searchBar {
    -fx-background-color: #d5dae0;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-max-width: 300px;
    -fx-border-radius: 10;
    -fx-padding-left: 20px;
}

.unique-button {
    -fx-background-color: #283342;
    -fx-border: none;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-padding: 10px 24px;
    -fx-border-radius: 12px;
    -fx-padding-right: 20px;
}

.unique-button:hover {
    -fx-background-color: #3700b3;
    -fx-text-fill: white;
}

/* Style the pagination control */
.pagination {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-max-page-indicator-count: 4;
}

.pagination .bullet {
    -fx-background-color: #e0e0e0;
    -fx-max-width: 10px;
}

.pagination .bullet:selected {
    -fx-background-color: #a0a0a0;
}
